<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="shortcut icon" href="../static/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../static/connexion_style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion au forum</title>
</head>
<body>
    

        <form action="/login" class="login-form" enctype="multipart/form-data" method="post">
            <h1 class="login-title">vous devez être connecter <br> </h1>

            <button type="submit" class="login-btn">se connecter</button>
    
            <p class="register">
                <a href="/login">se connecter</a>
            </p>
        </form>

</body>
</html>
